#no-mobile {
  position: absolute;
  z-index: 101;
  height: 100vh;
  background-color: #cdc4d7;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 32px;
  top: 0;
}
#no-mobile span {
  z-index: 1;
}
#no-mobile img {
  width: 100%;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
